<div class="main">
    <form [formGroup]="identificationFormGroup">
        <mat-form-field>
            <input type="text" matInput formControlName="email" placeholder="correo electrónico">
        </mat-form-field>
        <br>
        <br>
        <mat-form-field>
            <input type="password" matInput formControlName="password" placeholder="contraseña">
        </mat-form-field>
        <br>
        <br>
        <button mat-raised-button color="primary" (click)="login()">Autenticarse</button>
        <p>{{errorText}}</p>
    </form>
</div>